<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Template CSS</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- blog -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
        
        <div class="page-wrapper">

<!--START HERE WITH NEW CODE-->

   <header class="header-23">
    <div class="mask">&nbsp;</div>
    <div class="popup-video">
        <iframe id="pPlayer" src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">Harmony</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">My Profile</a></li>
                    </ul>
                    <ul class="subnav">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-23-sub bg-midnight-blue">
    <div id="bgVideo" class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hero-unit">
                    <strong>Life is one grand, sweet song</strong>
                    <a class="btn-play" id="play" href="#">Play</a>
                    <span>Start playing it</span>
                </div>
            </div>
        </div>
    </div>
</section>

\<section class="content-20 v-center bg-midnight-blue">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Harmony: Start making connections based on something more</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="signup-form">
                        <form class="clearfix">
                            <div class="form-group">
                                <label>Enter your email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="clearfix">
                                <div class="form-group pull-left">
                                    <label>Password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group pull-right">
                                    <label>Confirmation</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <div class="site-link">
                                    <input type="text" class="form-control">
                                   
                                </div>
                            </div>
                            <button class="btn btn-huge btn-info">Sign Up</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1 features">
                    <big>Music is the world's most popular language</big>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>The Purpose</h6>
                            Making meaningful connections with people these days is tough. First impressions are often completely physical, and while there is nothing wrong with that, we want the connection to be based on something more. Something real. Something deeper. Something true. 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>The Interface</h6>
                            Harmony is a social interface that allows users interested in connecting with others to first see with their ears --- listen to what other users say represents them, check out playlists on their profile, and send suggestions to add to their lives!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects-3">
    <div class="container">
        <h3>We connect deeply with the music we listen to. <br> Now let that music connect you with others.</h3>
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/projects/splatter.png);"><img src="../../common-files/img/projects/splatter.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Your Soul Song</div>
                        These 3-5 minutes of audio will be other users' first impression of you, before anything else
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/projects/microphones.png);"><img src="../../common-files/img/projects/microphones.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Start a Conversation</div>
                        If you like what you hear, follow the music and start a conversation with another user
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/projects/share.jpg);"><img src="../../common-files/img/projects/share.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Share More</div>
                        Unlock playlists on your profile to let your connection learn more about you, send songs to them that you think they would like, and create common playlists 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<section class="crew-1">
    <div class="container">
        <h3>Why use music?</h3>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/vladimir-k.png);"><img src="../../common-files/img/crew/vladimir-k.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"All my friends use is Tinder and Grindr, and the only people they've found are just looking for hookups.”
</div>
                        Henry, college junior
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/amy.jpg);"><img src="../../common-files/img/crew/amy.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"Harmony helped me realize what I was looking for in a partner. Not just a physical attraction, but a connection through something deeper."</div>
                        Amy, 4 month user of Harmony 
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/adrian-v.png);"><img src="../../common-files/img/crew/adrian-v.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"I would rather let strangers see a little true part of my soul than just my face. I want to them to see who I am, not what I look like."</div>
                        Derrick, graduate student
                    </div>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/edvard-k.png);"><img src="../../common-files/img/crew/edvard-k.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"My sister told me about Harmony, and I really wanted to try it. Music is a huge part of who I am, and I would love to talk to other people who think that too."</div>
                        Sameer, new Harmony user
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/oxana-n.png);"><img src="../../common-files/img/crew/oxana-n.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"Music is something that people who differ on everything and anything else can have in common.”</div>
                        Sarah, musician
                    </div>
                </div>
            </div>
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(../../common-files/img/crew/markandrea.jpg);"><img src="../../common-files/img/crew/markandrea.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">"We found eachother on Harmony. We danced to our soul songs at our wedding."</div>
                        Mark and Andrea, Harmony users 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<footer class="footer-2 bg-midnight-blue">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li class="active"><a href="#">FAQ</a></li>
                <li><a href="#">Founders</a></li>
                <li><a href="#">Music Trends</a></li>
                <li><a href="#">Go Mobile</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <div class="social-btns pull-right">
            <a href="#">
                <div class="fui-vimeo"></div>
                <div class="fui-vimeo"></div>
            </a>
            <a href="#">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
            </a>
            <a href="#">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
            </a>
        </div>
        <div class="additional-links">
            Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>

<!--STOP HERE WITH NEW CODE-->

        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../../flat-ui/js/bootstrap.min.js"></script>
        <script src="../../common-files/js/modernizr.custom.js"></script>
        <script src="../../common-files/js/page-transitions.js"></script>
        <script src="../../common-files/js/startup-kit.js"></script>
    </body>
</html>